body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  position: relative;
}

#cross-svg {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

@keyframes redAnimation {
  0% {
    opacity: 1;
  }
  25% {
    fill: #f69107;
  }
  50% {
     fill: #f8e711;
    }
  75% {
     fill: #2d8601;
    }
  100% {
    fill: #031528;
  }
}

rect {
  animation: redAnimation 1s ease;
  animation-delay: 1s;
}

.animate {
  /* transform: translateX(-200px); */
  transition: transform .5s ease-in;
}

.colors {
  display: flex;
  position: fixed;
  bottom: 3em;
  right: 3em;
  z-index: 99;
}

.color {
  height: 35px;
  width: 35px;
  margin-left: 0.6em;
  border-radius: 20px;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
  border: 1px solid #aaa;
  cursor: pointer;
}

.B-last:hover{
  fill: pink;
}




.mobile-controls {
  display:none;

}

.mid-controls {
  display: block;
  text-align: center;
}

.arrow-down{
  width: 10%;
  margin: 0 -5px;
}

#arrow-down{
  transform: rotate(90deg) !important;
  z-index: 999;
}

#arrow-down:hover{
  background-color: grey;
  transition: all .3s ease-in;
}

.click{
   animation: Laydown 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes Laydown {
  0% {
            transform: translateY(0) translateZ(0) rotateX(0deg);
            transform-origin: top center;
  }
  100% {
            transform: translateY(150px) translateZ(130px) rotateX(90deg);
            transform-origin: top center;
  }
}


@media (min-width: 375px) {

  .mobile-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    bottom: 13em;
    margin-top: 10em;

  }

.cross-svg{
  transform: scale(20em) !important;
}

  #arrow-right{
    margin: 0 5px;
    width: 10%;
    z-index: 999;
  }

  #reload{
    width: 10%;
    margin: 0 5px;
    z-index: 999;
  }

  #arrow-left{
    transform: rotate(180deg);
    right: 5em;
    margin: 0 5px;
    width:10%;
    z-index: 999;
  }

  #arrow-left:hover {
  background-color:orange;
  transition: all .2s ease-in;
  }

  #arrow-right:hover {
    background-color:green;
    transition: all .2s ease-in;
  }

  #reload:hover {
    background-color: red;
    transition: all .2s ease-in;
  }

  .arrow-up{
    width: 10%;
    display: block;
    z-index: 999;
    margin: 0 -5px;
  }

  #arrow-up{
    transform: rotate(270deg) !important;
    z-index: 999;
  }

  #arrow-up:hover{
    background-color: wheat;
    transition: all .2s ease-in;
  }




.colors{
  right: 3em;
}


}
