body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  position: relative;
}

#cross-svg {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

@keyframes redAnimation {
  0% {
    opacity: 1;
  }
  25% {
    fill: #f69107;
  }
  50% {
     fill: #f8e711;
    }
  75% {
     fill: #2d8601;
    }
  100% {
    fill: #031528;
  }
}

rect {
  animation: redAnimation 1s ease;
  animation-delay: 1s;
}

.colors {
  display: flex;
  position: fixed;
  bottom: 3em;
  right: 5em;
}

.color {
  height: 35px;
  width: 35px;
  margin-left: 0.6em;
  border-radius: 20px;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
  border: 1px solid #aaa;
  cursor: pointer;
}

.black:hover {
  fill: #DA4567;
}

.cross-svg:hover {
  filter: grayscale(1000%) sepia(10%);
}

.circle{
  


}

/* .B-middle:hover #cross-svg{
	-webkit-animation: Laydown 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: Laydown 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes Laydown {
  0% {
            transform: translateY(0) translateZ(0) rotateX(0deg);
            transform-origin: top center;
  }
  100% {
            transform: translateY(150px) translateZ(130px) rotateX(90deg);
            transform-origin: top center;
  }
} */
